# Our manual excludes

/.claude/
/.idea/
/.venv*/
*.egg-info
/build*/
/dependencies-for-local-development-on-windows/
/dist/
/cmake-build-debug/
/cmake-build-release/
/local-built-doc/
/vcpkg_installed/
/.vcpkg/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
